datacenter           = "h1"
node_name            = "bootstrapper"
data_dir             = "{{ consul_data_dir }}"
client_addr          = "0.0.0.0"
ui_config {
  enabled = true
}
server               = true
bind_addr            = "10.42.99.2"
addresses = {
  dns = "127.0.0.1"
}
advertise_addr       = "{{ consul_advertise_addr }}"
retry_join           = ["10.42.99.2"]
bootstrap_expect     = 1
enable_script_checks = true
