{
  "retry_join" : ["{{ ipv4_internal }}"],
  "data_dir": "{{ consul_data_dir }}",
  "log_level": "INFO",
  "server": true,
  "node_name": "bootstrapper",
  "client_addr": "{{ consul_bind_addr }}",
  "advertise_addr": "{{ ipv4_internal }}",
  "bind_addr": "{{ ipv4_internal }}",
  "ui": true,
  "bootstrap_expect": 1,
  "enable_script_checks": true
}
