{% set renewal_basecmd = 'with pkiCert "' + ct_cert_renewal_command['role'] + '"' %}
{% set renewal_params = [renewal_basecmd] %}
{% set cert_path = vault_cert_location + vault_cert_name %}
{% if "parameters" in ct_cert_renewal_command %}
{% for param in ct_cert_renewal_command['parameters'] %}
{% set p_value = ct_cert_renewal_command['parameters'][param] %}
{% if param == 'ip_sans' %}{% set p_value = ipv4 + ',' + p_value %}{% endif %}
{% set p_value = client_cert_name + ',' + p_value %}
{{- renewal_params.append( '"' + param + '=' + p_value + '"' ) -}}
{% endfor %}
{% endif %}
{% if hostcert_ttl is not none %}
{{- renewal_params.append( '"common_name=' + client_cert_name + '"' ) -}}
{{- renewal_params.append( '"ttl=' + hostcert_ttl + '"' ) -}}
{% endif %}
{{- "{{" -}}- {{ renewal_params | join(" ") }} -{{- "}}" -}}
{{ '{{ .Cert }}' }}
{{'{{- .Cert | writeToFile "'}}{{ cert_path }}{{'.cert" "" "" "0644" -}}'}}
{{'{{ if .Key -}}'}}
{{'{{- .Key | writeToFile "'}}{{ cert_path }}{{'.key" "" "" "0644" -}}'}}
{{'{{ end }}'}}
{{'{{- .Cert |  writeToFile "'}}{{ cert_path }}{{'.pem" "" "" "0644" -}}'}}
{{'{{- .CA | writeToFile "'}}{{ cert_path }}{{'.pem" "" "" "0644" "append" -}}'}}
{{'{{- end -}}' -}}
