template {
  source = "/etc/consul-template/templates/nginx-vault-certs.tpl"
  destination = "{{ nginx_certs_location }}/nginx-vault.cert"
  exec {
    command = "/usr/bin/systemctl reload-or-restart nginx"
  }
}
