upstream bootstrap_consul {
    server 127.0.0.1:8500;
}

server {
  listen {{ ipv4 }}:8500 ssl;
#  server_name SUBDOMAIN.DOMAIN.TLD;

  ssl_certificate {{ nginx_certs_location }}/consul.pem;
  ssl_certificate_key {{ nginx_certs_location }}/consul.key;
  location / {
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_pass http://bootstrap_consul;
  }
}
