CONTENT_ORIGIN='http://{{ pulp_bind_interface }}:8080'
ANSIBLE_API_HOSTNAME='http://{{ pulp_bind_interface }}:8080'
ANSIBLE_CONTENT_HOSTNAME='http://{{ pulp_bind_interface }}:8080/pulp/content'
CACHE_ENABLED=True
ALLOWED_CONTENT_CHECKSUMS=["sha1","sha224","sha256","sha384","sha512"]
