[Unit]
Description=Create pulp multi-process container
Wants=network-online.target
After=network-online.target
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecCondition=/bin/bash -c '! /usr/bin/docker ps -a | /usr/bin/grep pulp'
ExecStart=/usr/bin/docker create --privileged \
            --name pulp \
            --log-driver journald \
            --log-opt tag="{{ '{{.Name}}' }}" \
            --log-opt labels=container_id,image_id \
            -p {{ pulp_bind_addr}}:{{ pulp_bind_port }}:80 \
            --volume /etc/pulp:/etc/pulp:Z \
					  --volume /var/lib/pulp/storage:/var/lib/pulp:Z \
					  --volume /var/lib/pulp/pgsql:/var/lib/pgsql:Z \
					  --volume /var/lib/pulp/containers:/var/lib/containers:Z \
					  --device /dev/fuse \
            --env-file /etc/sysconfig/pulp \
          pulp/pulp

[Install]
WantedBy=multi-user.target
