{% for tpl in registry_proxies.keys() %}
template {
  source = "/etc/consul-template/templates/docker-registry-{{ tpl }}.tpl"
  destination = "/etc/docker/registry/{{ tpl }}/config.yml"
  exec {
    command = "systemctl reload-or-restart registry-cache@{{ tpl }}"
  }
  error_fatal = false
}
{% endfor %}
