[Unit]
Description=liaison
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
EnvironmentFile=/var/lib/misc/vault-environmentfile
WorkingDirectory=/srv/liaison/src
ExecStart=/srv/liaison/venv/bin/gunicorn -w 3 -b {{ ipv4_internal }}:5050 --access-logfile - liaison:liaison
ExecReload=kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
