[Unit]
Description=vault-agent
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Environment="HOME=/root"
EnvironmentFile=-/etc/sysconfig/vault-agent
RuntimeDirectory={{ vault_token_dir | regex_replace('^\/run\/', '') }}
ExecStart=/usr/bin/vault agent -config /etc/vault/agent.hcl
ExecReload=kill -HUP $MAINPID
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
