server:
        interface: {{ ipv4_internal }}
        port: 53
        access-control: 10.0.0.0/8 allow
        access-control: 172.16.0.0/12 allow
        access-control: 192.168.0.0/16 allow
        access-control: 0.0.0.0/0 deny
        use-syslog: yes
        log-queries: yes
        log-replies: yes
        verbosity: 1
        domain-insecure: consul
        do-not-query-localhost: no
        outgoing-port-permit: 32768-60999
        outgoing-port-avoid: 0-32767
        outgoing-port-avoid: 61000-65535
        tls-cert-bundle: /etc/pki/tls/certs/ca-bundle.crt
stub-zone:
        name: "consul"
        stub-addr: 127.0.0.1@8600
        stub-first: no
        stub-no-cache: no
        stub-tls-upstream: no
forward-zone:
        name: "."
        forward-tls-upstream: yes
        forward-addr: 1.1.1.1@853#cloudflare-dns.com
        forward-addr: 9.9.9.9@853#dns.quad9.net
        forward-addr: 1.0.0.1@853#cloudflare-dns.com
        forward-addr: 149.112.112.112@853#dns.quad9.net
remote-control:
        control-enable: yes
        control-interface: /run/unbound.control.sock
