ui = true

#mlock = true
#disable_mlock = true

storage "raft" {
  path = "/opt/vault/data"
}

service_registration "consul" {
  address = "{{ ipv4_internal }}:{{ consul_bind_port }}"
  service_address = "{{ ipv4_internal }}"
}

api_addr = "{{ vault_api_addr }}"
cluster_addr = "https://{{ ipv4_internal }}:{{vault_cluster_bind_port | d(vault_bind_port + 1) }}"

# HTTP listener
listener "tcp" {
  address = "{{ vault_bind_addr }}:{{ vault_bind_port }}"
  tls_disable = 1
}

# HTTPS listener
listener "tcp" {
  address = "{{ ipv4_internal }}:{{ vault_https_bind_port | d(vault_bind_port) }}"
  tls_cert_file = "/opt/vault/tls/tls.crt"
  tls_key_file  = "/opt/vault/tls/tls.key"
}
