{
  "name": "consul",
  "id": "consul-lb",
  "tags": ["lb"],
  "tagged_addresses": {
    "wan_ipv4": {
      "address": "{{ ipv4 }}",
      "port": {{ nginx_lb_ports.consul }}
    }
  },
  "meta": {
    "protocol": "http"
  },
  "checks": [
    {
      "name": "nginx.service",
      "args": ["/usr/local/bin/check-systemd-service.sh", "nginx"],
      "interval": "30s"
    }
  ]
}
