{
  "name": "pulp",
  "id": "pulp:{{ pulp_bind_addr }}",
  "tags": ["backend"],
  "port": 8080,
  "meta": {
    "protocol": "http"
  },
  "checks": [
    {
      "name": "/status",
      "http": "http://{{ pulp_bind_addr }}:{{ pulp_bind_port }}/pulp/api/v3/status",
      "interval": "10s",
      "timeout": "20s"
    },
    {
      "name": "pulp.service",
      "args": ["/usr/local/bin/check-systemd-service.sh", "pulp"],
      "interval": "30s"
    }
  ]
}
