{
  "name": "pulp-nginx-lb-internal",
  "id": "nginx-lb-internal:pulp",
  "tags": ["nginx_lb"],
  "address": "{{ pulp_bind_addr }}",
  "port": {{ nginx_lb_ports.pulp }},
  "meta": {
    "service": "pulp",
    "destination": "internal"
  },
  "checks": [
    {
      "name": "nginx.service",
      "CheckId": "pulp-nginx-service",
      "args": ["/usr/local/bin/check-systemd-service.sh", "nginx"],
      "DeregisterCriticalServiceAfter": "15m",
      "Interval": "15s"
    },
    {
      "name": "consul.service",
      "CheckId": "pulp-consul-service",
      "args": ["/usr/local/bin/check-systemd-service.sh", "consul"],
      "DeregisterCriticalServiceAfter": "15m",
      "interval": "15s"
    },
    {
      "name": "consul-template.service",
      "CheckId": "pulp-consul-template-service",
      "args": ["/usr/local/bin/check-systemd-service.sh", "consul-template"],
      "DeregisterCriticalServiceAfter": "15m",
      "interval": "15s"
    },
    {
      "name": "pulp_tcp_lan",
      "CheckId": "pulp-tcp-lan",
      "TCP": "{{ pulp_bind_addr }}:{{ nginx_lb_ports.pulp }}",
      "interval": "5s"
    }
  ]
}
