{
  "name": "vault",
  "id": "vault-backend",
  "tags": ["backend"],
  "tagged_addresses": {
    "local": {
      "address": "{{ vault_bind_addr }}",
      "port": {{ vault_bind_port }}
    }
  },
  "meta": {
    "protocol": "http"
  },
  "checks": [
    {
      "name": "/status",
      "http": "http://{{ vault_bind_addr }}:{{ vault_bind_port }}/v1/sys/health",
      "interval": "10s",
      "timeout": "20s"
    },
    {
      "name": "vault.service",
      "args": ["/usr/local/bin/check-systemd-service.sh", "vault"],
      "interval": "30s"
    }
  ]
}
