{
  "name": "vault",
  "id": "vault-lb",
  "tags": ["lb"],
  "tagged_addresses": {
    "lan_ipv4": {
      "address": "{{ ipv4_internal }}",
      "port": {{ nginx_lb_ports.vault }}
    },
    "wan_ipv4": {
      "address": "{{ ipv4 }}",
      "port": {{ nginx_lb_ports.vault }}
    }
  },
  "checks": [
    {
      "name": "nginx.service",
      "args": ["/usr/local/bin/check-systemd-service.sh", "nginx"],
      "interval": "15s"
    }
  ]
}
